.Controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5rem;
  border: 1px solid black;

  .Panel {
    display: flex;
    justify-content: flex-end;
  }

  .Tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
