.Controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  border: 1px solid black;

  .Panel {
    display: flex;
    justify-content: flex-end;
  }

  .Tools {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
  }
}
