@import 'styles/colors';

%Cell {
  margin: 1%;
  border-radius: 10%;
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5%;
  cursor: pointer;

  &.Related {
    box-shadow: none;
    background-color: #aaa;
  }

  &.Available {
    &.Place {
      background-color: $place-color;
    }
    &.Note {
      background-color: $note-color;
    }
  }
}

@mixin hoverOrSelectedCell() {
  background-color: $selected-bg-color;
  box-shadow: none;
}

@mixin placed() {
  @include digitColor($place-color);
}

.Value {
  @extend %Cell;
  background-color: white;
  box-shadow: inset 0 -1px #666;

  &.ActiveValue {
    background-color: $active-color;
    @include digitColor(white);
    &.Placed {
      @include placed();
    }
  }

  &.Available {
    &:hover,
    &:active,
    &.Selected {
      @include hoverOrSelectedCell();
      @include digitColor(white !important);
    }
  }
}

.Placed {
  @include placed();
}

.Notes {
  @extend %Cell;
  background-color: rgba(127, 127, 127, 0.15);
  flex-direction: column;
  align-items: stretch;

  .RowNotes {
    flex: 1 0;
    display: flex;
  }

  .Note {
    padding: 0.5%;
    flex: 1 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &.ActiveValue {
      @include digitColor(darken($color: $active-color, $amount: 20));
    }
  }

  &.Available {
    &:hover,
    &:active,
    &.Selected {
      @include hoverOrSelectedCell();
      .Note {
        @include digitColor(white);
      }
    }
  }
}
