%Cell {
  margin: 1%;
  border-radius: 10%;
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding: 2%;
}

.CellValue {
  @extend %Cell;
  background-color: white;
  box-shadow: inset 0 -2px #666;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: lightseagreen;
    box-shadow: none;
    div {
      background-color: white;
    }
  }
}

.CellPoints {
  @extend %Cell;
  background-color: rgba(127, 127, 127, 0.1);
  cursor: cell;
  flex-direction: column;
  align-items: stretch;

  .PointRow {
    flex: 1 0;
    display: flex;
  }

  .Point {
    padding: 2%;
    flex: 1 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
