// place color
$place-color: #0302ca;

// note color
$note-color: green;

// active(same value as selected) digit color
$active-color: #fa6782;

// selected cell background color
$selected-bg-color: lightseagreen;

// marked value color
$marked-color: red;

// set digit color
@mixin digitColor($color) {
  > :global(.digit) {
    background-color: $color;
  }
}
