// place color
$place-color: #5a60fb;

// note color
$note-color: green;

// active(same value as selected) digit color
$active-color: #fa6782;

// selected cell background color
$selected-bg-color: lightseagreen;

// marked value color
$marked-color: red;
$marked-value-color: #d1ff1a;
$marked-note-color: #f2b209;
$marked-effected-color: #82216a;

// set digit color
@mixin digitColor($color) {
  > :global(.digit) {
    background-color: $color;
  }
}
