.Sudoku {
  position: relative;
  width: 100vmin;
  min-width: 240px;
  height: 100vh;
  margin: auto;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-size: 60%;

  @media (min-height: 640px) and (min-width: 640px) {
    font-size: 100%;
    width: 70vmin;
  }
}
