.Button {
  padding: 0.25rem;
  margin: 0.25rem 0.5rem;
  background-color: white;
  color: black;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  border: 1px solid black;
  white-space: nowrap;

  &:disabled {
    cursor: default;
    color: lightgray;
    border-color: lightgray;
  }

  &:not(:disabled) {
    &:hover,
    &:active {
      box-shadow: 0 2px 4px #ccc;
    }

    &.Warn {
      color: salmon;
      background-color: gray;
      border-color: transparent;
    }

    &.On {
      color: white;
      background-color: green;
      border-color: transparent;
    }

    &.Off {
      color: gray;
      border-color: gray;
    }
  }
}
