.Pointer {
  position: absolute;
  width: 6px;
  height: 6px;
  top: -1px;
  right: -1px;
  border-top: 1px solid #ccff00;
  border-right: 1px solid #ccff00;
  transform-origin: top right;
  transform: rotate(45deg);
}
