@mixin mask($digit) {
  mask-image: url('./assets/#{$digit}.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-origin: content-box;
  background-color: black;
  width: 100%;
  height: 100%;
}
.Zero {
  @include mask(0);
}
.One {
  @include mask(1);
}
.Two {
  @include mask(2);
}
.Three {
  @include mask(3);
}
.Four {
  @include mask(4);
}
.Five {
  @include mask(5);
}
.Six {
  @include mask(6);
}
.Seven {
  @include mask(7);
}
.Eight {
  @include mask(8);
}
.Nine {
  @include mask(9);
}
