.App {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // overflow: auto;

  // other
  text-align: center;
}

.Board {
  display: inline-block;
  width: 90vmin;
  background: pink;
  padding: 1rem;
}
