* {
  box-sizing: border-box;
  /* user-select: none; */
  /* mobile */
  /* touch-action: none; */
}

body {
  margin: 0;
  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 0)
    env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 0);
  font-family: sans-serif;
}
